

p.tsuki{
    font-size: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin: 0 auto 70%;
}
p.bun{
    font-size: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    margin: 0 auto 30%;
}
img.src{
    margin-top: 0%;
    margin: 0 auto;
}